
body {
	margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #E1E1E1 ;
}

.header {
	position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
    transition: background 0.3s;
    z-index: 1000;
}

.header.scrolled {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

.logo {
    width: 60;
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    vertical-align: middle;
}

.nav-menu {
	padding-right: 30px;
}

.menu {
	padding: 1em 1em;
 	border: none;
 	border-radius: 5px;
}

.menu, .exit{
	display: none;
}

@media screen and (max-width: 850px) {
	.menu, .exit {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        margin-right: 50px;
    }

    .menu, .exit. svg{
    	width: 60px;
        height: 60px;
    }

	.nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        left: 50%;
        margin: 20px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: end;
    }

}

.button, .menu {
  	padding: 1em 1em;
 	border: none;
 	border-radius: 5px;
  	font-weight: bold;
  	letter-spacing: 1px;
  	background: transparent;
  	text-transform: uppercase;
  	color: white;
  	transition: all 1000ms;
  	font-size: 15px;
  	position: relative;
  	overflow: hidden;
}

.button:hover {
  	color: white;
  	transform: scale(1);
}

.button::before {
  	content: "";
  	position: absolute;
  	left: -50px;
  	top: 0;
  	width: 0;
  	height: 100%;
  	background-color: #1D68FF;
  	transform: skewX(30deg);
  	z-index: -1;
  	transition: width 1000ms;
}

.button:hover::before {
  	width: 250%;
}

.button.scrolled {
    color: black;
    background-color: white;
  }

.button:hover.scrolled{
	color: white;
}

.main-image {
    height: 100vh;
    background: url('https://assets.lummi.ai/assets/QmaPP2SER5UxXLQ8VwTbQTiRmZTf1owmDWMfbnQK76Y6Gz?auto=format&w=1500') no-repeat center center/cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: white;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

  .content {
    width: 350px;
    padding: 50px;
    background: transparent;
    border-radius: 10px;
    height: auto;
    min-width: 20px;
    margin: 20px;
    align-items: center;
}



.text-title {
	color: white;
  	font-size: 50px;
  	font-family: "Righteous", sans-serif;
  font-weight: 50;
  	margin-top: 0;
}

.sub {
  	color: #1789DD;
}

.text {
  	font-size: 27px;
  	color: #C7C9F4;
  	font-family: josefin sans;
}

.buttons {
  	display: flex;
  	gap: 10px;
  	justify-content: space-between;
}

.buttons a {
  	text-decoration: none;
	font-size: 1em;
  	color: white;
  	transition: background 0.3s;
  	margin-top: 20px;
  	display: flex;
  	align-items: center;
}

.btn {
  	position: relative;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	border-radius: 50px;
  	background: #1D68FF;
  	font-family: "Montserrat", sans-serif;
  	box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  	overflow: hidden;
  	cursor: pointer;
  	border: none;
}

.btn1 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background: #C8C8CA;
	font-family: "Montserrat", sans-serif;
	box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	cursor: pointer;
	border: none;

}

.btn:after {
  	content: " ";
  	width: 0%;
  	height: 100%;
  	background: #e74d3c;
  	position: absolute;
  	transition: all 0.4s ease-in-out;
  	right: 0;
}

.btn1:after {
  	content: " ";
  	width: 0%;
  	height: 100%;
  	background: #1D68FF;
  	position: absolute;
  	transition: all 0.4s ease-in-out;
  	right: 0;
}

.btn:hover::after, .btn1:hover::after {
  	right: auto;
  	left: 0;
  	width: 100%;
}

.btn span, .btn1 span {
  	text-align: center;
  	text-decoration: none;
 	width: 100%;
  	padding: 15px 25px; /* Ajusta el padding según tus necesidades */
  	font-size: 18px; /* Ajusta el tamaño de la letra según tus necesidades */
  	font-weight: 700;
  	letter-spacing: 0.1em; /* Ajusta el espaciado entre letras según tus necesidades */
  	z-index: 20;
  	transition: all 0.3s ease-in-out;
}

.btn1 span {
	color: black;
}

.btn:hover span, .btn1:hover span {
  	color: white;
  	animation: scaleUp 0.3s ease-in-out;
}




        .why-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 1200px;
            margin: 20px auto;
            background: transparent;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 70px;
            margin-bottom: 70px;
        }
        .why {
            flex: 1;
            padding: 20px;
        }
        .why h2 {
            color: #03395f;
            text-align: center;
            font-size: 35px;
            font-family: dosis;
        }
        .why p {
            color: #262733;
            line-height: 1.6;
            font-family: exo;
            font-size: 20px;
        }
        .why ul {
            list-style-type: none;
            padding: 0;
        }
        .why ul li {
            background: #03395f;
            margin: 10px 0;
            padding: 10px;
            border-radius: 10px 0 0 10px;
            display: flex;
            align-items: center;
            border-left: 5px solid #ffed4a;
        }
        .why ul li svg {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        .why ul li span {
            flex: 1;
            color: white;
        }
        .why-image {
            flex: 1;
            max-width: 600px;
            height: auto;
            align-items: center;
        }
        .why-image img {
            width: 100%;
            height: auto;
            border-radius: 0 10px 10px 0;
        }
        @media (max-width: 768px) {
            .why-container {
                flex-direction: column;
            }
            .why {
                padding: 20px;
            }
            .why ul li {
                flex-direction: column;
                align-items: flex-start;
            }
            .why ul li svg {
                margin-bottom: 10px;
            }
            .why-image img {
                border-radius: 0 0 10px 10px;
            }
        }


    .add {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 40vh;
      padding: 2rem;
      margin-bottom: 0;
    }
    .hero {
      width: 100%;

  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cellipse cx=%221494.255%22 cy=%222.151%22 rx=%222.23%22 ry=%222.191%22 fill=%22%23fff%22 opacity=%22.355%22%2F%3E%3Cellipse cx=%221084.373%22 cy=%225.984%22 rx=%222.388%22 ry=%222.026%22 fill=%22%23fff%22 opacity=%22.279%22%2F%3E%3Cellipse cx=%221415.052%22 cy=%2211.659%22 rx=%222.592%22 ry=%222.244%22 fill=%22%23fff%22 opacity=%22.43%22%2F%3E%3Cellipse cx=%2289.22%22 cy=%2213.086%22 rx=%222.475%22 ry=%222.032%22 fill=%22%23fff%22 opacity=%22.575%22%2F%3E%3Cellipse cx=%221001.511%22 cy=%2217.119%22 rx=%223.028%22 ry=%222.606%22 fill=%22%23fff%22 opacity=%22.822%22%2F%3E%3Cellipse cx=%22700.834%22 cy=%2220.802%22 rx=%221.851%22 ry=%221.73%22 fill=%22%23fff%22 opacity=%22.093%22%2F%3E%3Cellipse cx=%221977.004%22 cy=%2227.583%22 rx=%221.707%22 ry=%221.449%22 fill=%22%23fff%22 opacity=%22.816%22%2F%3E%3Cellipse cx=%221615.182%22 cy=%2228.378%22 rx=%221.748%22 ry=%221.457%22 fill=%22%23fff%22 opacity=%22.007%22%2F%3E%3Cellipse cx=%22212.598%22 cy=%2235.335%22 rx=%222.96%22 ry=%222.789%22 fill=%22%23fff%22 opacity=%22.112%22%2F%3E%3Cellipse cx=%22489.459%22 cy=%2236.147%22 rx=%222.913%22 ry=%222.723%22 fill=%22%23fff%22 opacity=%22-.154%22%2F%3E%3Cellipse cx=%22914.366%22 cy=%2240.88%22 rx=%221.583%22 ry=%221.558%22 fill=%22%23fff%22 opacity=%22.14%22%2F%3E%3Cellipse cx=%221529.369%22 cy=%2247.104%22 rx=%223.113%22 ry=%222.768%22 fill=%22%23fff%22 opacity=%22.17%22%2F%3E%3Cellipse cx=%221632.718%22 cy=%2248.775%22 rx=%222.748%22 ry=%222.409%22 fill=%22%23fff%22 opacity=%22.677%22%2F%3E%3Cellipse cx=%221761.623%22 cy=%2254.368%22 rx=%222.705%22 ry=%222.64%22 fill=%22%23fff%22 opacity=%22.813%22%2F%3E%3Cellipse cx=%221463.841%22 cy=%2258.772%22 rx=%222.558%22 ry=%222.369%22 fill=%22%23fff%22 opacity=%22.189%22%2F%3E%3Cellipse cx=%221311.666%22 cy=%2262.718%22 rx=%222.201%22 ry=%221.74%22 fill=%22%23fff%22 opacity=%22-.022%22%2F%3E%3Cellipse cx=%221021.691%22 cy=%2264.859%22 rx=%221.948%22 ry=%221.596%22 fill=%22%23fff%22 opacity=%22.134%22%2F%3E%3Cellipse cx=%221123.509%22 cy=%2270.48%22 rx=%221.555%22 ry=%221.551%22 fill=%22%23fff%22 opacity=%22.82%22%2F%3E%3Cellipse cx=%221352.666%22 cy=%2273.888%22 rx=%222.1%22 ry=%221.692%22 fill=%22%23fff%22 opacity=%22.545%22%2F%3E%3Cellipse cx=%221397.66%22 cy=%2278.007%22 rx=%221.79%22 ry=%221.577%22 fill=%22%23fff%22 opacity=%22.631%22%2F%3E%3Cellipse cx=%221852.655%22 cy=%2281.82%22 rx=%222.193%22 ry=%221.875%22 fill=%22%23fff%22 opacity=%22.324%22%2F%3E%3Cellipse cx=%22945.24%22 cy=%2287.485%22 rx=%222.531%22 ry=%222.317%22 fill=%22%23fff%22 opacity=%22.222%22%2F%3E%3Cellipse cx=%22550.315%22 cy=%2289.017%22 rx=%221.747%22 ry=%221.482%22 fill=%22%23fff%22 opacity=%22.427%22%2F%3E%3Cellipse cx=%221612.498%22 cy=%2292.909%22 rx=%221.872%22 ry=%221.716%22 fill=%22%23fff%22 opacity=%22.29%22%2F%3E%3Cellipse cx=%221409.62%22 cy=%2299.673%22 rx=%222.506%22 ry=%222.371%22 fill=%22%23fff%22 opacity=%22.859%22%2F%3E%3Cellipse cx=%221717.808%22 cy=%22103.307%22 rx=%221.541%22 ry=%221.432%22 fill=%22%23fff%22 opacity=%22.366%22%2F%3E%3Cellipse cx=%22460.288%22 cy=%22105.078%22 rx=%222.767%22 ry=%222.544%22 fill=%22%23fff%22 opacity=%22.056%22%2F%3E%3Cellipse cx=%221733.641%22 cy=%22111.224%22 rx=%222.013%22 ry=%221.923%22 fill=%22%23fff%22 opacity=%22.402%22%2F%3E%3Cellipse cx=%22922.948%22 cy=%22113.038%22 rx=%222.402%22 ry=%222.117%22 fill=%22%23fff%22 opacity=%22.164%22%2F%3E%3Cellipse cx=%2255.09%22 cy=%22116.928%22 rx=%221.859%22 ry=%221.497%22 fill=%22%23fff%22 opacity=%22.454%22%2F%3E%3Cellipse cx=%22855.357%22 cy=%22121.372%22 rx=%222.651%22 ry=%222.17%22 fill=%22%23fff%22 opacity=%22.268%22%2F%3E%3Cellipse cx=%221526.121%22 cy=%22124.428%22 rx=%222.607%22 ry=%222.197%22 fill=%22%23fff%22 opacity=%22.401%22%2F%3E%3Cellipse cx=%221510.465%22 cy=%22131.021%22 rx=%223.012%22 ry=%222.72%22 fill=%22%23fff%22 opacity=%22-.089%22%2F%3E%3Cellipse cx=%221665.369%22 cy=%22133.161%22 rx=%222.141%22 ry=%221.719%22 fill=%22%23fff%22 opacity=%22.324%22%2F%3E%3Cellipse cx=%221775.407%22 cy=%22139.155%22 rx=%221.898%22 ry=%221.661%22 fill=%22%23fff%22 opacity=%22.774%22%2F%3E%3Cellipse cx=%221183.708%22 cy=%22143.002%22 rx=%221.942%22 ry=%221.522%22 fill=%22%23fff%22 opacity=%22.344%22%2F%3E%3Cellipse cx=%22985.338%22 cy=%22146.327%22 rx=%222.154%22 ry=%221.77%22 fill=%22%23fff%22 opacity=%22.275%22%2F%3E%3Cellipse cx=%221901.412%22 cy=%22148.163%22 rx=%221.852%22 ry=%221.549%22 fill=%22%23fff%22 opacity=%22.599%22%2F%3E%3Cellipse cx=%22914.964%22 cy=%22155.782%22 rx=%222.882%22 ry=%222.494%22 fill=%22%23fff%22 opacity=%22.203%22%2F%3E%3Cellipse cx=%221318.899%22 cy=%22156.841%22 rx=%221.839%22 ry=%221.688%22 fill=%22%23fff%22 opacity=%22.033%22%2F%3E%3Cellipse cx=%221968.008%22 cy=%22162.31%22 rx=%223.003%22 ry=%222.803%22 fill=%22%23fff%22 opacity=%22.164%22%2F%3E%3Cellipse cx=%22156.754%22 cy=%22164.664%22 rx=%223.016%22 ry=%222.562%22 fill=%22%23fff%22 opacity=%22.515%22%2F%3E%3Cellipse cx=%22576.656%22 cy=%22170.372%22 rx=%222.339%22 ry=%222.07%22 fill=%22%23fff%22 opacity=%22.367%22%2F%3E%3Cellipse cx=%22577.71%22 cy=%22175.838%22 rx=%221.976%22 ry=%221.52%22 fill=%22%23fff%22 opacity=%22.135%22%2F%3E%3Cellipse cx=%221632.733%22 cy=%22179.068%22 rx=%222.756%22 ry=%222.754%22 fill=%22%23fff%22 opacity=%22.779%22%2F%3E%3Cellipse cx=%221539.868%22 cy=%22183.175%22 rx=%222.712%22 ry=%222.386%22 fill=%22%23fff%22 opacity=%22.046%22%2F%3E%3Cellipse cx=%221744.124%22 cy=%22187.086%22 rx=%222.781%22 ry=%222.521%22 fill=%22%23fff%22 opacity=%22.424%22%2F%3E%3Cellipse cx=%221086.743%22 cy=%22191.272%22 rx=%222.428%22 ry=%221.946%22 fill=%22%23fff%22 opacity=%22.726%22%2F%3E%3Cellipse cx=%22705.251%22 cy=%22192.216%22 rx=%222.636%22 ry=%222.375%22 fill=%22%23fff%22 opacity=%22.321%22%2F%3E%3Cellipse cx=%22789.813%22 cy=%22199.913%22 rx=%222.415%22 ry=%221.993%22 fill=%22%23fff%22 opacity=%22.007%22%2F%3E%3Cellipse cx=%22493.345%22 cy=%22202.328%22 rx=%221.664%22 ry=%221.618%22 fill=%22%23fff%22 opacity=%22.858%22%2F%3E%3Cellipse cx=%221540.678%22 cy=%22204.175%22 rx=%221.91%22 ry=%221.872%22 fill=%22%23fff%22 opacity=%22.679%22%2F%3E%3Cellipse cx=%22693.164%22 cy=%22209.492%22 rx=%221.745%22 ry=%221.706%22 fill=%22%23fff%22 opacity=%22.393%22%2F%3E%3Cellipse cx=%22177.238%22 cy=%22215.6%22 rx=%222.781%22 ry=%222.744%22 fill=%22%23fff%22 opacity=%22.837%22%2F%3E%3Cellipse cx=%221954.341%22 cy=%22219.648%22 rx=%221.984%22 ry=%221.786%22 fill=%22%23fff%22 opacity=%22.285%22%2F%3E%3Cellipse cx=%2259.471%22 cy=%22223.866%22 rx=%221.755%22 ry=%221.696%22 fill=%22%23fff%22 opacity=%22.806%22%2F%3E%3Cellipse cx=%22487.238%22 cy=%22225.952%22 rx=%221.982%22 ry=%221.934%22 fill=%22%23fff%22 opacity=%22.089%22%2F%3E%3Cellipse cx=%221227.181%22 cy=%22228.973%22 rx=%222.13%22 ry=%221.769%22 fill=%22%23fff%22 opacity=%22.727%22%2F%3E%3Cellipse cx=%22279.422%22 cy=%22235.905%22 rx=%223.004%22 ry=%222.546%22 fill=%22%23fff%22 opacity=%22-.115%22%2F%3E%3Cellipse cx=%221412.378%22 cy=%22238.077%22 rx=%222.023%22 ry=%221.595%22 fill=%22%23fff%22 opacity=%22.457%22%2F%3E%3Cellipse cx=%221495.113%22 cy=%22243.204%22 rx=%222.37%22 ry=%222.034%22 fill=%22%23fff%22 opacity=%22.177%22%2F%3E%3Cellipse cx=%221413.765%22 cy=%22245.092%22 rx=%221.716%22 ry=%221.5%22 fill=%22%23fff%22 opacity=%22.049%22%2F%3E%3Cellipse cx=%22552.202%22 cy=%22251.507%22 rx=%221.857%22 ry=%221.517%22 fill=%22%23fff%22 opacity=%22.323%22%2F%3E%3Cellipse cx=%221130.247%22 cy=%22254.612%22 rx=%222.262%22 ry=%221.777%22 fill=%22%23fff%22 opacity=%22.586%22%2F%3E%3Cellipse cx=%226.302%22 cy=%22256.387%22 rx=%221.947%22 ry=%221.506%22 fill=%22%23fff%22 opacity=%22.922%22%2F%3E%3Cellipse cx=%221607.463%22 cy=%22261.118%22 rx=%222.248%22 ry=%221.776%22 fill=%22%23fff%22 opacity=%22.56%22%2F%3E%3Cellipse cx=%22528.8%22 cy=%22265.818%22 rx=%222.444%22 ry=%222.165%22 fill=%22%23fff%22 opacity=%22.487%22%2F%3E%3Cellipse cx=%221179.239%22 cy=%22268.447%22 rx=%223.037%22 ry=%222.821%22 fill=%22%23fff%22 opacity=%22.271%22%2F%3E%3Cellipse cx=%22165.756%22 cy=%22272.096%22 rx=%222.831%22 ry=%222.73%22 fill=%22%23fff%22 opacity=%22-.059%22%2F%3E%3Cellipse cx=%2281.817%22 cy=%22276.62%22 rx=%221.982%22 ry=%221.691%22 fill=%22%23fff%22 opacity=%22-.053%22%2F%3E%3Cellipse cx=%221177.639%22 cy=%22280.554%22 rx=%222.452%22 ry=%222.094%22 fill=%22%23fff%22 opacity=%22.378%22%2F%3E%3Cellipse cx=%221573.132%22 cy=%22286.691%22 rx=%222.066%22 ry=%222.009%22 fill=%22%23fff%22 opacity=%22.579%22%2F%3E%3Cellipse cx=%221207.131%22 cy=%22289.164%22 rx=%222.442%22 ry=%222.253%22 fill=%22%23fff%22 opacity=%22.575%22%2F%3E%3Cellipse cx=%221655.221%22 cy=%22293.954%22 rx=%221.857%22 ry=%221.517%22 fill=%22%23fff%22 opacity=%22.571%22%2F%3E%3Cellipse cx=%2217.757%22 cy=%22297.66%22 rx=%222.43%22 ry=%222.053%22 fill=%22%23fff%22 opacity=%22.711%22%2F%3E%3Cellipse cx=%221199.901%22 cy=%22302.999%22 rx=%221.809%22 ry=%221.741%22 fill=%22%23fff%22 opacity=%22.118%22%2F%3E%3Cellipse cx=%2277.846%22 cy=%22304.056%22 rx=%222.494%22 ry=%222.471%22 fill=%22%23fff%22 opacity=%22.057%22%2F%3E%3Cellipse cx=%221374.282%22 cy=%22309.893%22 rx=%223.193%22 ry=%222.771%22 fill=%22%23fff%22 opacity=%22.365%22%2F%3E%3Cellipse cx=%2251.436%22 cy=%22315.544%22 rx=%222.177%22 ry=%222.101%22 fill=%22%23fff%22 opacity=%22-.041%22%2F%3E%3Cellipse cx=%22722.869%22 cy=%22319.531%22 rx=%222.779%22 ry=%222.7%22 fill=%22%23fff%22 opacity=%22.717%22%2F%3E%3Cellipse cx=%221076.511%22 cy=%22323.201%22 rx=%222.232%22 ry=%221.968%22 fill=%22%23fff%22 opacity=%22.069%22%2F%3E%3Cellipse cx=%22418.476%22 cy=%22327.932%22 rx=%222.263%22 ry=%222.004%22 fill=%22%23fff%22 opacity=%22.478%22%2F%3E%3Cellipse cx=%221382.027%22 cy=%22330.658%22 rx=%222.743%22 ry=%222.692%22 fill=%22%23fff%22 opacity=%22-.171%22%2F%3E%3Cellipse cx=%22731.939%22 cy=%22334.663%22 rx=%222.281%22 ry=%222.159%22 fill=%22%23fff%22 opacity=%22.179%22%2F%3E%3Cellipse cx=%221962.135%22 cy=%22336.151%22 rx=%222.58%22 ry=%222.207%22 fill=%22%23fff%22 opacity=%22.733%22%2F%3E%3Cellipse cx=%221946.422%22 cy=%22340.386%22 rx=%221.955%22 ry=%221.666%22 fill=%22%23fff%22 opacity=%22.868%22%2F%3E%3Cellipse cx=%22513.005%22 cy=%22345.888%22 rx=%221.823%22 ry=%221.649%22 fill=%22%23fff%22 opacity=%22-.228%22%2F%3E%3Cellipse cx=%22378.979%22 cy=%22350.404%22 rx=%222.584%22 ry=%222.556%22 fill=%22%23fff%22 opacity=%22.197%22%2F%3E%3Cellipse cx=%22338.962%22 cy=%22352.733%22 rx=%221.529%22 ry=%221.486%22 fill=%22%23fff%22 opacity=%22-.033%22%2F%3E%3Cellipse cx=%22274.464%22 cy=%22356.826%22 rx=%222.854%22 ry=%222.788%22 fill=%22%23fff%22 opacity=%22.441%22%2F%3E%3Cellipse cx=%22354.038%22 cy=%22363.473%22 rx=%222.075%22 ry=%221.679%22 fill=%22%23fff%22 opacity=%22.121%22%2F%3E%3Cellipse cx=%221094.627%22 cy=%22365.057%22 rx=%222.306%22 ry=%222.302%22 fill=%22%23fff%22 opacity=%22.077%22%2F%3E%3Cellipse cx=%221472.786%22 cy=%22370.629%22 rx=%222.867%22 ry=%222.595%22 fill=%22%23fff%22 opacity=%22.273%22%2F%3E%3Cellipse cx=%22296.107%22 cy=%22373.638%22 rx=%222.061%22 ry=%221.822%22 fill=%22%23fff%22 opacity=%22.092%22%2F%3E%3Cellipse cx=%221806.743%22 cy=%22379.011%22 rx=%222.359%22 ry=%222.192%22 fill=%22%23fff%22 opacity=%22.34%22%2F%3E%3Cellipse cx=%221658.26%22 cy=%22382.858%22 rx=%222.877%22 ry=%222.392%22 fill=%22%23fff%22 opacity=%22-.198%22%2F%3E%3Cellipse cx=%221558.079%22 cy=%22386.809%22 rx=%223.091%22 ry=%222.726%22 fill=%22%23fff%22 opacity=%22-.084%22%2F%3E%3Cellipse cx=%221868.111%22 cy=%22390.838%22 rx=%222.827%22 ry=%222.364%22 fill=%22%23fff%22 opacity=%22.739%22%2F%3E%3Cellipse cx=%22987.404%22 cy=%22393.351%22 rx=%222.19%22 ry=%221.783%22 fill=%22%23fff%22 opacity=%22.524%22%2F%3E%3Cellipse cx=%221119.066%22 cy=%22399.637%22 rx=%221.893%22 ry=%221.501%22 fill=%22%23fff%22 opacity=%22.64%22%2F%3E%3Cellipse cx=%22521.633%22 cy=%22400.963%22 rx=%222.713%22 ry=%222.461%22 fill=%22%23fff%22 opacity=%22.193%22%2F%3E%3Cellipse cx=%221813.018%22 cy=%22404.45%22 rx=%222.256%22 ry=%222.079%22 fill=%22%23fff%22 opacity=%22.201%22%2F%3E%3Cellipse cx=%221879.122%22 cy=%22410.455%22 rx=%221.574%22 ry=%221.433%22 fill=%22%23fff%22 opacity=%22-.051%22%2F%3E%3Cellipse cx=%22148.349%22 cy=%22414.664%22 rx=%223.016%22 ry=%222.819%22 fill=%22%23fff%22 opacity=%22.148%22%2F%3E%3Cellipse cx=%221597.01%22 cy=%22416.008%22 rx=%222.117%22 ry=%221.818%22 fill=%22%23fff%22 opacity=%22.706%22%2F%3E%3Cellipse cx=%221837.141%22 cy=%22420.281%22 rx=%222.664%22 ry=%222.201%22 fill=%22%23fff%22 opacity=%22.773%22%2F%3E%3Cellipse cx=%221123.855%22 cy=%22427.039%22 rx=%221.925%22 ry=%221.734%22 fill=%22%23fff%22 opacity=%22.635%22%2F%3E%3Cellipse cx=%221799.066%22 cy=%22431.452%22 rx=%223.239%22 ry=%222.815%22 fill=%22%23fff%22 opacity=%22.494%22%2F%3E%3Cellipse cx=%22298.338%22 cy=%22435.838%22 rx=%222.792%22 ry=%222.525%22 fill=%22%23fff%22 opacity=%22-.035%22%2F%3E%3Cellipse cx=%221154.563%22 cy=%22439.493%22 rx=%221.769%22 ry=%221.473%22 fill=%22%23fff%22 opacity=%22-.032%22%2F%3E%3Cellipse cx=%22107.561%22 cy=%22441.8%22 rx=%223.046%22 ry=%222.765%22 fill=%22%23fff%22 opacity=%22.902%22%2F%3E%3Cellipse cx=%221613.054%22 cy=%22445.448%22 rx=%223.109%22 ry=%222.646%22 fill=%22%23fff%22 opacity=%22.273%22%2F%3E%3Cellipse cx=%221650.292%22 cy=%22449.616%22 rx=%222.414%22 ry=%222.384%22 fill=%22%23fff%22 opacity=%22-.035%22%2F%3E%3Cellipse cx=%22277.644%22 cy=%22454.385%22 rx=%222.898%22 ry=%222.61%22 fill=%22%23fff%22 opacity=%22.064%22%2F%3E%3Cellipse cx=%221824.257%22 cy=%22456.901%22 rx=%222.204%22 ry=%221.884%22 fill=%22%23fff%22 opacity=%22.354%22%2F%3E%3Cellipse cx=%22569.392%22 cy=%22461.849%22 rx=%222.178%22 ry=%221.724%22 fill=%22%23fff%22 opacity=%22-.039%22%2F%3E%3Cellipse cx=%22988.652%22 cy=%22466.389%22 rx=%222.039%22 ry=%221.588%22 fill=%22%23fff%22 opacity=%22.213%22%2F%3E%3Cellipse cx=%22961.962%22 cy=%22471.144%22 rx=%222.839%22 ry=%222.721%22 fill=%22%23fff%22 opacity=%22.036%22%2F%3E%3Cellipse cx=%221222.375%22 cy=%22474.54%22 rx=%221.89%22 ry=%221.457%22 fill=%22%23fff%22 opacity=%22-.181%22%2F%3E%3Cellipse cx=%22836.229%22 cy=%22478.172%22 rx=%221.59%22 ry=%221.515%22 fill=%22%23fff%22 opacity=%22.133%22%2F%3E%3Cellipse cx=%22743.983%22 cy=%22482.073%22 rx=%222.414%22 ry=%222.045%22 fill=%22%23fff%22 opacity=%22.054%22%2F%3E%3Cellipse cx=%221777.517%22 cy=%22486.468%22 rx=%222.674%22 ry=%222.301%22 fill=%22%23fff%22 opacity=%22.168%22%2F%3E%3Cellipse cx=%221564.08%22 cy=%22490.847%22 rx=%222.899%22 ry=%222.617%22 fill=%22%23fff%22 opacity=%22.484%22%2F%3E%3Cellipse cx=%22155.644%22 cy=%22493.034%22 rx=%222.478%22 ry=%222.458%22 fill=%22%23fff%22 opacity=%22.611%22%2F%3E%3Cellipse cx=%22487.874%22 cy=%22497.541%22 rx=%222.737%22 ry=%222.294%22 fill=%22%23fff%22 opacity=%22.465%22%2F%3E%3Cellipse cx=%221424.995%22 cy=%22503.045%22 rx=%223.027%22 ry=%222.631%22 fill=%22%23fff%22 opacity=%22.623%22%2F%3E%3Cellipse cx=%22304.366%22 cy=%22505.414%22 rx=%222.169%22 ry=%222.111%22 fill=%22%23fff%22 opacity=%22.376%22%2F%3E%3Cellipse cx=%221021.453%22 cy=%22509.457%22 rx=%221.951%22 ry=%221.569%22 fill=%22%23fff%22 opacity=%22.658%22%2F%3E%3Cellipse cx=%22327.899%22 cy=%22512.203%22 rx=%222.277%22 ry=%221.921%22 fill=%22%23fff%22 opacity=%22.043%22%2F%3E%3Cellipse cx=%2210.239%22 cy=%22519.759%22 rx=%221.646%22 ry=%221.57%22 fill=%22%23fff%22 opacity=%22-.005%22%2F%3E%3Cellipse cx=%221013.09%22 cy=%22521.689%22 rx=%222.618%22 ry=%222.586%22 fill=%22%23fff%22 opacity=%22.388%22%2F%3E%3Cellipse cx=%22691.233%22 cy=%22526.724%22 rx=%221.954%22 ry=%221.487%22 fill=%22%23fff%22 opacity=%22.371%22%2F%3E%3Cellipse cx=%221892.681%22 cy=%22531.987%22 rx=%221.723%22 ry=%221.634%22 fill=%22%23fff%22 opacity=%22-.287%22%2F%3E%3Cellipse cx=%22535.539%22 cy=%22534.209%22 rx=%223.161%22 ry=%222.675%22 fill=%22%23fff%22 opacity=%22.601%22%2F%3E%3Cellipse cx=%22458.667%22 cy=%22537.566%22 rx=%223.216%22 ry=%222.757%22 fill=%22%23fff%22 opacity=%22.667%22%2F%3E%3Cellipse cx=%221630.275%22 cy=%22541.362%22 rx=%222.313%22 ry=%222.061%22 fill=%22%23fff%22 opacity=%22-.021%22%2F%3E%3Cellipse cx=%22204.52%22 cy=%22545.887%22 rx=%221.638%22 ry=%221.617%22 fill=%22%23fff%22 opacity=%22.868%22%2F%3E%3Cellipse cx=%22724.47%22 cy=%22549.801%22 rx=%222.561%22 ry=%222.205%22 fill=%22%23fff%22 opacity=%22.317%22%2F%3E%3Cellipse cx=%221070.278%22 cy=%22552.297%22 rx=%222.758%22 ry=%222.638%22 fill=%22%23fff%22 opacity=%22.002%22%2F%3E%3Cellipse cx=%22761.128%22 cy=%22556.032%22 rx=%222.492%22 ry=%222.364%22 fill=%22%23fff%22 opacity=%22.346%22%2F%3E%3Cellipse cx=%221556.275%22 cy=%22562.315%22 rx=%222.254%22 ry=%221.833%22 fill=%22%23fff%22 opacity=%22.038%22%2F%3E%3Cellipse cx=%22591.369%22 cy=%22566.228%22 rx=%222.798%22 ry=%222.422%22 fill=%22%23fff%22 opacity=%22.471%22%2F%3E%3Cellipse cx=%22125.237%22 cy=%22570.566%22 rx=%222.328%22 ry=%221.875%22 fill=%22%23fff%22 opacity=%22.012%22%2F%3E%3Cellipse cx=%22853.362%22 cy=%22573.437%22 rx=%222.299%22 ry=%222.208%22 fill=%22%23fff%22 opacity=%22.303%22%2F%3E%3Cellipse cx=%221020.274%22 cy=%22576.671%22 rx=%222.311%22 ry=%222.294%22 fill=%22%23fff%22 opacity=%22.438%22%2F%3E%3Cellipse cx=%22569.221%22 cy=%22582.473%22 rx=%222.668%22 ry=%222.399%22 fill=%22%23fff%22 opacity=%22.686%22%2F%3E%3Cellipse cx=%221967.277%22 cy=%22587.738%22 rx=%222.531%22 ry=%222.311%22 fill=%22%23fff%22 opacity=%22.487%22%2F%3E%3Cellipse cx=%221199.829%22 cy=%22589.797%22 rx=%221.904%22 ry=%221.584%22 fill=%22%23fff%22 opacity=%22.277%22%2F%3E%3Cellipse cx=%22888.672%22 cy=%22594.617%22 rx=%221.611%22 ry=%221.43%22 fill=%22%23fff%22 opacity=%22.727%22%2F%3E%3Cellipse cx=%22204.229%22 cy=%22597.577%22 rx=%222.923%22 ry=%222.687%22 fill=%22%23fff%22 opacity=%22.4%22%2F%3E%3Cellipse cx=%221419.941%22 cy=%22600.105%22 rx=%223.092%22 ry=%222.858%22 fill=%22%23fff%22 opacity=%22.154%22%2F%3E%3Cellipse cx=%221245.624%22 cy=%22605.599%22 rx=%222.965%22 ry=%222.701%22 fill=%22%23fff%22 opacity=%22.241%22%2F%3E%3Cellipse cx=%221210.29%22 cy=%22609.655%22 rx=%222.698%22 ry=%222.317%22 fill=%22%23fff%22 opacity=%22.184%22%2F%3E%3Cellipse cx=%2289.891%22 cy=%22614.706%22 rx=%223.223%22 ry=%222.738%22 fill=%22%23fff%22 opacity=%22-.06%22%2F%3E%3Cellipse cx=%221448.066%22 cy=%22619.795%22 rx=%222.008%22 ry=%221.62%22 fill=%22%23fff%22 opacity=%22.725%22%2F%3E%3Cellipse cx=%22502.905%22 cy=%22623.269%22 rx=%221.624%22 ry=%221.46%22 fill=%22%23fff%22 opacity=%22.118%22%2F%3E%3Cellipse cx=%22953.085%22 cy=%22626.221%22 rx=%222.238%22 ry=%222.169%22 fill=%22%23fff%22 opacity=%22.736%22%2F%3E%3Cellipse cx=%221733.929%22 cy=%22630.397%22 rx=%221.861%22 ry=%221.76%22 fill=%22%23fff%22 opacity=%22.261%22%2F%3E%3Cellipse cx=%22141.412%22 cy=%22633.227%22 rx=%222.065%22 ry=%221.916%22 fill=%22%23fff%22 opacity=%22.08%22%2F%3E%3Cellipse cx=%221415.584%22 cy=%22639.92%22 rx=%222.119%22 ry=%222.018%22 fill=%22%23fff%22 opacity=%22.136%22%2F%3E%3Cellipse cx=%22416.082%22 cy=%22640.058%22 rx=%222.499%22 ry=%222.205%22 fill=%22%23fff%22 opacity=%22.341%22%2F%3E%3Cellipse cx=%221872.08%22 cy=%22644.895%22 rx=%221.795%22 ry=%221.712%22 fill=%22%23fff%22 opacity=%22.223%22%2F%3E%3Cellipse cx=%22450.159%22 cy=%22650.382%22 rx=%222.257%22 ry=%222.143%22 fill=%22%23fff%22 opacity=%22.012%22%2F%3E%3Cellipse cx=%22934.916%22 cy=%22655.121%22 rx=%222.119%22 ry=%221.759%22 fill=%22%23fff%22 opacity=%22.47%22%2F%3E%3Cellipse cx=%22772.782%22 cy=%22657.219%22 rx=%222.29%22 ry=%221.917%22 fill=%22%23fff%22 opacity=%22.407%22%2F%3E%3Cellipse cx=%221333.312%22 cy=%22663.646%22 rx=%222.189%22 ry=%222.093%22 fill=%22%23fff%22 opacity=%22.527%22%2F%3E%3Cellipse cx=%221449.736%22 cy=%22664.037%22 rx=%222.8%22 ry=%222.503%22 fill=%22%23fff%22 opacity=%22.015%22%2F%3E%3Cellipse cx=%22311.544%22 cy=%22670.594%22 rx=%222.517%22 ry=%222.431%22 fill=%22%23fff%22 opacity=%22.378%22%2F%3E%3Cellipse cx=%22883.164%22 cy=%22674.368%22 rx=%223.072%22 ry=%222.632%22 fill=%22%23fff%22 opacity=%22-.087%22%2F%3E%3Cellipse cx=%221306.483%22 cy=%22678.613%22 rx=%221.938%22 ry=%221.556%22 fill=%22%23fff%22 opacity=%22.751%22%2F%3E%3Cellipse cx=%2269.526%22 cy=%22682.57%22 rx=%222.161%22 ry=%221.983%22 fill=%22%23fff%22 opacity=%22.267%22%2F%3E%3Cellipse cx=%221093.91%22 cy=%22687.169%22 rx=%222.968%22 ry=%222.535%22 fill=%22%23fff%22 opacity=%22.359%22%2F%3E%3Cellipse cx=%221204.82%22 cy=%22689.164%22 rx=%222.435%22 ry=%222.204%22 fill=%22%23fff%22 opacity=%22.414%22%2F%3E%3Cellipse cx=%221565.924%22 cy=%22695.161%22 rx=%222.823%22 ry=%222.729%22 fill=%22%23fff%22 opacity=%22.357%22%2F%3E%3Cellipse cx=%221122.055%22 cy=%22698.507%22 rx=%222.455%22 ry=%222.129%22 fill=%22%23fff%22 opacity=%22.772%22%2F%3E%3Cellipse cx=%22727.275%22 cy=%22702.588%22 rx=%223.023%22 ry=%222.833%22 fill=%22%23fff%22 opacity=%22.483%22%2F%3E%3Cellipse cx=%221018.361%22 cy=%22704.64%22 rx=%223.201%22 ry=%222.832%22 fill=%22%23fff%22 opacity=%22.67%22%2F%3E%3Cellipse cx=%22983.917%22 cy=%22711.358%22 rx=%222.845%22 ry=%222.386%22 fill=%22%23fff%22 opacity=%22-.036%22%2F%3E%3Cellipse cx=%22957.898%22 cy=%22715.248%22 rx=%221.592%22 ry=%221.537%22 fill=%22%23fff%22 opacity=%22.097%22%2F%3E%3Cellipse cx=%22278.562%22 cy=%22719.307%22 rx=%222.082%22 ry=%221.94%22 fill=%22%23fff%22 opacity=%22.539%22%2F%3E%3Cellipse cx=%221637.576%22 cy=%22722.118%22 rx=%223.104%22 ry=%222.74%22 fill=%22%23fff%22 opacity=%22.144%22%2F%3E%3Cellipse cx=%2231.242%22 cy=%22724.116%22 rx=%221.557%22 ry=%221.462%22 fill=%22%23fff%22 opacity=%22.608%22%2F%3E%3Cellipse cx=%22824.13%22 cy=%22729.165%22 rx=%222.783%22 ry=%222.583%22 fill=%22%23fff%22 opacity=%22-.011%22%2F%3E%3Cellipse cx=%22408.189%22 cy=%22735.899%22 rx=%221.794%22 ry=%221.492%22 fill=%22%23fff%22 opacity=%22.828%22%2F%3E%3Cellipse cx=%221267.966%22 cy=%22739.139%22 rx=%221.877%22 ry=%221.792%22 fill=%22%23fff%22 opacity=%22.218%22%2F%3E%3Cellipse cx=%22344.43%22 cy=%22741.729%22 rx=%222.322%22 ry=%222.21%22 fill=%22%23fff%22 opacity=%22.361%22%2F%3E%3Cellipse cx=%221980.824%22 cy=%22747.137%22 rx=%223.164%22 ry=%222.761%22 fill=%22%23fff%22 opacity=%22.267%22%2F%3E%3Cellipse cx=%221813.243%22 cy=%22749.929%22 rx=%223.152%22 ry=%222.787%22 fill=%22%23fff%22 opacity=%22.135%22%2F%3E%3Cellipse cx=%22446.819%22 cy=%22752.451%22 rx=%222.498%22 ry=%222.316%22 fill=%22%23fff%22 opacity=%22-.161%22%2F%3E%3Cellipse cx=%221264.972%22 cy=%22758.522%22 rx=%222.355%22 ry=%222.179%22 fill=%22%23fff%22 opacity=%22.136%22%2F%3E%3Cellipse cx=%22356.186%22 cy=%22762.383%22 rx=%222.797%22 ry=%222.479%22 fill=%22%23fff%22 opacity=%22.23%22%2F%3E%3Cellipse cx=%22209.162%22 cy=%22766.737%22 rx=%222.502%22 ry=%222.117%22 fill=%22%23fff%22 opacity=%22.463%22%2F%3E%3Cellipse cx=%221004.772%22 cy=%22768.39%22 rx=%221.74%22 ry=%221.62%22 fill=%22%23fff%22 opacity=%22.257%22%2F%3E%3Cellipse cx=%221429.386%22 cy=%22775.235%22 rx=%222.515%22 ry=%222.495%22 fill=%22%23fff%22 opacity=%22.064%22%2F%3E%3Cellipse cx=%22966.04%22 cy=%22779.885%22 rx=%222.221%22 ry=%222.177%22 fill=%22%23fff%22 opacity=%22.546%22%2F%3E%3Cellipse cx=%22666.831%22 cy=%22783.552%22 rx=%222.888%22 ry=%222.764%22 fill=%22%23fff%22 opacity=%22.12%22%2F%3E%3Cellipse cx=%22560.508%22 cy=%22785.834%22 rx=%222.358%22 ry=%222.317%22 fill=%22%23fff%22 opacity=%22.383%22%2F%3E%3Cellipse cx=%22576.462%22 cy=%22788.94%22 rx=%222.595%22 ry=%222.354%22 fill=%22%23fff%22 opacity=%22.466%22%2F%3E%3Cellipse cx=%22699.815%22 cy=%22794.348%22 rx=%221.878%22 ry=%221.543%22 fill=%22%23fff%22 opacity=%22.731%22%2F%3E%3Cellipse cx=%22600.096%22 cy=%22796.656%22 rx=%222.819%22 ry=%222.375%22 fill=%22%23fff%22 opacity=%22.632%22%2F%3E%3Cellipse cx=%221544.439%22 cy=%22803.893%22 rx=%222%22 ry=%221.815%22 fill=%22%23fff%22 opacity=%22-.079%22%2F%3E%3Cellipse cx=%221037.424%22 cy=%22805.561%22 rx=%222.747%22 ry=%222.327%22 fill=%22%23fff%22 opacity=%22-.084%22%2F%3E%3Cellipse cx=%22662.664%22 cy=%22811.025%22 rx=%222.561%22 ry=%222.381%22 fill=%22%23fff%22 opacity=%22-.109%22%2F%3E%3Cellipse cx=%221864.838%22 cy=%22812.832%22 rx=%221.781%22 ry=%221.575%22 fill=%22%23fff%22 opacity=%22.429%22%2F%3E%3Cellipse cx=%22959.184%22 cy=%22818.853%22 rx=%221.861%22 ry=%221.696%22 fill=%22%23fff%22 opacity=%22.362%22%2F%3E%3Cellipse cx=%22909.882%22 cy=%22821.181%22 rx=%222.352%22 ry=%221.964%22 fill=%22%23fff%22 opacity=%22-.237%22%2F%3E%3Cellipse cx=%22529.07%22 cy=%22824.09%22 rx=%222.744%22 ry=%222.61%22 fill=%22%23fff%22 opacity=%22-.07%22%2F%3E%3Cellipse cx=%22663.242%22 cy=%22830.458%22 rx=%222.988%22 ry=%222.611%22 fill=%22%23fff%22 opacity=%22.142%22%2F%3E%3Cellipse cx=%221429.499%22 cy=%22832.011%22 rx=%222.463%22 ry=%222.165%22 fill=%22%23fff%22 opacity=%22.873%22%2F%3E%3Cellipse cx=%22696.914%22 cy=%22838.941%22 rx=%222.274%22 ry=%221.999%22 fill=%22%23fff%22 opacity=%22.511%22%2F%3E%3Cellipse cx=%221617.558%22 cy=%22842.159%22 rx=%221.907%22 ry=%221.514%22 fill=%22%23fff%22 opacity=%22.184%22%2F%3E%3Cellipse cx=%221639.079%22 cy=%22844.964%22 rx=%222.985%22 ry=%222.669%22 fill=%22%23fff%22 opacity=%22.738%22%2F%3E%3Cellipse cx=%221898.568%22 cy=%22849.952%22 rx=%222.444%22 ry=%222.143%22 fill=%22%23fff%22 opacity=%22.354%22%2F%3E%3Cellipse cx=%221399.823%22 cy=%22855.304%22 rx=%221.809%22 ry=%221.751%22 fill=%22%23fff%22 opacity=%22-.048%22%2F%3E%3Cellipse cx=%221009.465%22 cy=%22858.681%22 rx=%222.736%22 ry=%222.608%22 fill=%22%23fff%22 opacity=%22.713%22%2F%3E%3Cellipse cx=%22205.2%22 cy=%22860.7%22 rx=%222.847%22 ry=%222.458%22 fill=%22%23fff%22 opacity=%22.597%22%2F%3E%3Cellipse cx=%221176.968%22 cy=%22864.908%22 rx=%221.937%22 ry=%221.6%22 fill=%22%23fff%22 opacity=%22.639%22%2F%3E%3Cellipse cx=%22915.851%22 cy=%22868.565%22 rx=%221.839%22 ry=%221.473%22 fill=%22%23fff%22 opacity=%22.178%22%2F%3E%3Cellipse cx=%221583.21%22 cy=%22875.4%22 rx=%222.283%22 ry=%222%22 fill=%22%23fff%22 opacity=%22.318%22%2F%3E%3Cellipse cx=%22826.873%22 cy=%22877.741%22 rx=%222.147%22 ry=%221.78%22 fill=%22%23fff%22 opacity=%22.345%22%2F%3E%3Cellipse cx=%221775.518%22 cy=%22883.218%22 rx=%221.946%22 ry=%221.743%22 fill=%22%23fff%22 opacity=%22.638%22%2F%3E%3Cellipse cx=%22109.273%22 cy=%22885.678%22 rx=%222.106%22 ry=%221.791%22 fill=%22%23fff%22 opacity=%22.408%22%2F%3E%3Cellipse cx=%22145.737%22 cy=%22891.994%22 rx=%223.058%22 ry=%222.654%22 fill=%22%23fff%22 opacity=%22.8%22%2F%3E%3Cellipse cx=%221481.627%22 cy=%22892.362%22 rx=%221.959%22 ry=%221.606%22 fill=%22%23fff%22 opacity=%22.111%22%2F%3E%3Cellipse cx=%221497.012%22 cy=%22896.104%22 rx=%222.708%22 ry=%222.213%22 fill=%22%23fff%22 opacity=%22.363%22%2F%3E%3Cellipse cx=%22747.89%22 cy=%22902.28%22 rx=%222.376%22 ry=%221.971%22 fill=%22%23fff%22 opacity=%22.664%22%2F%3E%3Cellipse cx=%221219.654%22 cy=%22904.887%22 rx=%222.149%22 ry=%221.843%22 fill=%22%23fff%22 opacity=%22.287%22%2F%3E%3Cellipse cx=%221968.052%22 cy=%22909.448%22 rx=%221.65%22 ry=%221.446%22 fill=%22%23fff%22 opacity=%22.319%22%2F%3E%3Cellipse cx=%2296.103%22 cy=%22914.941%22 rx=%221.912%22 ry=%221.719%22 fill=%22%23fff%22 opacity=%22.618%22%2F%3E%3Cellipse cx=%221665.198%22 cy=%22917.435%22 rx=%221.752%22 ry=%221.633%22 fill=%22%23fff%22 opacity=%22-.035%22%2F%3E%3Cellipse cx=%2254.466%22 cy=%22922.241%22 rx=%222.384%22 ry=%222.31%22 fill=%22%23fff%22 opacity=%22.33%22%2F%3E%3Cellipse cx=%22503.644%22 cy=%22924.346%22 rx=%221.607%22 ry=%221.54%22 fill=%22%23fff%22 opacity=%22.787%22%2F%3E%3Cellipse cx=%221159.182%22 cy=%22930.109%22 rx=%222.135%22 ry=%221.733%22 fill=%22%23fff%22 opacity=%22.374%22%2F%3E%3Cellipse cx=%221189.189%22 cy=%22932.868%22 rx=%222.154%22 ry=%221.916%22 fill=%22%23fff%22 opacity=%22.252%22%2F%3E%3Cellipse cx=%2229.075%22 cy=%22936.017%22 rx=%222.969%22 ry=%222.713%22 fill=%22%23fff%22 opacity=%22.626%22%2F%3E%3Cellipse cx=%221719.339%22 cy=%22942.018%22 rx=%222.54%22 ry=%222.077%22 fill=%22%23fff%22 opacity=%22.644%22%2F%3E%3Cellipse cx=%221861.988%22 cy=%22947.761%22 rx=%222.354%22 ry=%222.121%22 fill=%22%23fff%22 opacity=%22-.13%22%2F%3E%3Cellipse cx=%2278.47%22 cy=%22950.474%22 rx=%222.036%22 ry=%221.607%22 fill=%22%23fff%22 opacity=%22.841%22%2F%3E%3Cellipse cx=%22200.108%22 cy=%22955.029%22 rx=%221.508%22 ry=%221.475%22 fill=%22%23fff%22 opacity=%22.381%22%2F%3E%3Cellipse cx=%22353.466%22 cy=%22956.738%22 rx=%223.242%22 ry=%222.764%22 fill=%22%23fff%22 opacity=%22.879%22%2F%3E%3Cellipse cx=%221515.083%22 cy=%22961.97%22 rx=%222.413%22 ry=%222.142%22 fill=%22%23fff%22 opacity=%22.075%22%2F%3E%3Cellipse cx=%22799.075%22 cy=%22966.641%22 rx=%222.266%22 ry=%222.112%22 fill=%22%23fff%22 opacity=%22.318%22%2F%3E%3Cellipse cx=%221461.763%22 cy=%22968.334%22 rx=%222.814%22 ry=%222.532%22 fill=%22%23fff%22 opacity=%22.616%22%2F%3E%3Cellipse cx=%221988.421%22 cy=%22974.647%22 rx=%222.813%22 ry=%222.794%22 fill=%22%23fff%22 opacity=%22-.075%22%2F%3E%3Cellipse cx=%22301.993%22 cy=%22978.357%22 rx=%222.894%22 ry=%222.62%22 fill=%22%23fff%22 opacity=%22.842%22%2F%3E%3Cellipse cx=%221977.184%22 cy=%22981.911%22 rx=%221.926%22 ry=%221.894%22 fill=%22%23fff%22 opacity=%22.086%22%2F%3E%3Cellipse cx=%22352.899%22 cy=%22987.968%22 rx=%221.71%22 ry=%221.562%22 fill=%22%23fff%22 opacity=%22.803%22%2F%3E%3Cellipse cx=%221747.595%22 cy=%22989.705%22 rx=%222.419%22 ry=%222.312%22 fill=%22%23fff%22 opacity=%22.82%22%2F%3E%3Cellipse cx=%221692.862%22 cy=%22995.501%22 rx=%222.677%22 ry=%222.187%22 fill=%22%23fff%22 opacity=%22.554%22%2F%3E%3Cellipse cx=%221738.945%22 cy=%22998.455%22 rx=%223.051%22 ry=%222.654%22 fill=%22%23fff%22 opacity=%22-.109%22%2F%3E%3Cellipse cx=%22448.628%22 cy=%221002.983%22 rx=%222.798%22 ry=%222.491%22 fill=%22%23fff%22 opacity=%22.772%22%2F%3E%3Cellipse cx=%221010.182%22 cy=%221005.382%22 rx=%221.712%22 ry=%221.667%22 fill=%22%23fff%22 opacity=%22-.014%22%2F%3E%3Cellipse cx=%22518.092%22 cy=%221010.893%22 rx=%222.282%22 ry=%221.989%22 fill=%22%23fff%22 opacity=%22.096%22%2F%3E%3Cellipse cx=%22993.093%22 cy=%221012.643%22 rx=%222.728%22 ry=%222.494%22 fill=%22%23fff%22 opacity=%22-.042%22%2F%3E%3Cellipse cx=%22927.023%22 cy=%221017.828%22 rx=%222.55%22 ry=%222.267%22 fill=%22%23fff%22 opacity=%22.573%22%2F%3E%3Cellipse cx=%22264.118%22 cy=%221023.224%22 rx=%222.168%22 ry=%221.727%22 fill=%22%23fff%22 opacity=%22.008%22%2F%3E%3Cellipse cx=%2286.749%22 cy=%221026.689%22 rx=%222.182%22 ry=%221.883%22 fill=%22%23fff%22 opacity=%22.839%22%2F%3E%3Cellipse cx=%221322.982%22 cy=%221031.007%22 rx=%221.888%22 ry=%221.455%22 fill=%22%23fff%22 opacity=%22.557%22%2F%3E%3Cellipse cx=%221838.546%22 cy=%221036.27%22 rx=%222.26%22 ry=%222.237%22 fill=%22%23fff%22 opacity=%22.375%22%2F%3E%3Cellipse cx=%221855.852%22 cy=%221041.505%22 rx=%222.898%22 ry=%222.591%22 fill=%22%23fff%22 opacity=%22.413%22%2F%3E%3Cellipse cx=%22398.694%22 cy=%221044.754%22 rx=%222.484%22 ry=%222.004%22 fill=%22%23fff%22 opacity=%22.554%22%2F%3E%3Cellipse cx=%22521.649%22 cy=%221050.139%22 rx=%222.506%22 ry=%222.168%22 fill=%22%23fff%22 opacity=%22.581%22%2F%3E%3Cellipse cx=%22501.634%22 cy=%221052.771%22 rx=%222.496%22 ry=%222.167%22 fill=%22%23fff%22 opacity=%22.274%22%2F%3E%3Cellipse cx=%221685.578%22 cy=%221057.259%22 rx=%222.514%22 ry=%222.166%22 fill=%22%23fff%22 opacity=%22.252%22%2F%3E%3Cellipse cx=%22466.008%22 cy=%221060.338%22 rx=%221.906%22 ry=%221.57%22 fill=%22%23fff%22 opacity=%22.388%22%2F%3E%3Cellipse cx=%221967.734%22 cy=%221065.378%22 rx=%222.232%22 ry=%222.053%22 fill=%22%23fff%22 opacity=%22-.085%22%2F%3E%3Cellipse cx=%22344.326%22 cy=%221069.875%22 rx=%222.913%22 ry=%222.44%22 fill=%22%23fff%22 opacity=%22.558%22%2F%3E%3Cellipse cx=%221941.621%22 cy=%221075.725%22 rx=%221.989%22 ry=%221.921%22 fill=%22%23fff%22 opacity=%22.005%22%2F%3E%3Cellipse cx=%22205.275%22 cy=%221078.738%22 rx=%221.858%22 ry=%221.566%22 fill=%22%23fff%22 opacity=%22.726%22%2F%3E%3Cellipse cx=%221219.267%22 cy=%221082.16%22 rx=%222.795%22 ry=%222.662%22 fill=%22%23fff%22 opacity=%22.037%22%2F%3E%3Cellipse cx=%221511.927%22 cy=%221086.763%22 rx=%222.735%22 ry=%222.604%22 fill=%22%23fff%22 opacity=%22.659%22%2F%3E%3Cellipse cx=%22234.273%22 cy=%221091.462%22 rx=%221.936%22 ry=%221.712%22 fill=%22%23fff%22 opacity=%22.915%22%2F%3E%3Cellipse cx=%221887.638%22 cy=%221093.385%22 rx=%222.482%22 ry=%222.343%22 fill=%22%23fff%22 opacity=%22.423%22%2F%3E%3Cellipse cx=%22693.925%22 cy=%221099.661%22 rx=%222.412%22 ry=%222.137%22 fill=%22%23fff%22 opacity=%22.517%22%2F%3E%3Cellipse cx=%221862.01%22 cy=%221103.597%22 rx=%221.713%22 ry=%221.527%22 fill=%22%23fff%22 opacity=%22.552%22%2F%3E%3Cellipse cx=%22840.308%22 cy=%221104.162%22 rx=%222.893%22 ry=%222.569%22 fill=%22%23fff%22 opacity=%22-.131%22%2F%3E%3Cellipse cx=%221967.55%22 cy=%221110.312%22 rx=%223.028%22 ry=%222.847%22 fill=%22%23fff%22 opacity=%22.133%22%2F%3E%3Cellipse cx=%22757.408%22 cy=%221114.911%22 rx=%221.711%22 ry=%221.665%22 fill=%22%23fff%22 opacity=%22-.055%22%2F%3E%3Cellipse cx=%221818.091%22 cy=%221116.209%22 rx=%221.795%22 ry=%221.593%22 fill=%22%23fff%22 opacity=%22-.022%22%2F%3E%3Cellipse cx=%22143.4%22 cy=%221122.689%22 rx=%221.598%22 ry=%221.478%22 fill=%22%23fff%22 opacity=%22-.158%22%2F%3E%3Cellipse cx=%221459.76%22 cy=%221125.091%22 rx=%221.64%22 ry=%221.462%22 fill=%22%23fff%22 opacity=%22.792%22%2F%3E%3Cellipse cx=%22499.168%22 cy=%221130.365%22 rx=%223.062%22 ry=%222.695%22 fill=%22%23fff%22 opacity=%22.009%22%2F%3E%3Cellipse cx=%221822.218%22 cy=%221134.478%22 rx=%222.505%22 ry=%222.344%22 fill=%22%23fff%22 opacity=%22.303%22%2F%3E%3Cellipse cx=%2237.569%22 cy=%221138.836%22 rx=%221.822%22 ry=%221.74%22 fill=%22%23fff%22 opacity=%22.538%22%2F%3E%3Cellipse cx=%22221.196%22 cy=%221142.528%22 rx=%222.979%22 ry=%222.511%22 fill=%22%23fff%22 opacity=%22-.022%22%2F%3E%3Cellipse cx=%22283.275%22 cy=%221145.693%22 rx=%221.904%22 ry=%221.728%22 fill=%22%23fff%22 opacity=%22.624%22%2F%3E%3Cellipse cx=%221251.448%22 cy=%221150.068%22 rx=%222.82%22 ry=%222.39%22 fill=%22%23fff%22 opacity=%22.463%22%2F%3E%3Cellipse cx=%22430.38%22 cy=%221154.051%22 rx=%222.418%22 ry=%222.086%22 fill=%22%23fff%22 opacity=%22-.075%22%2F%3E%3Cellipse cx=%22773.073%22 cy=%221157.573%22 rx=%222.463%22 ry=%222.165%22 fill=%22%23fff%22 opacity=%22.594%22%2F%3E%3Cellipse cx=%221714.447%22 cy=%221160.276%22 rx=%222.635%22 ry=%222.619%22 fill=%22%23fff%22 opacity=%22.521%22%2F%3E%3Cellipse cx=%221357.742%22 cy=%221165.867%22 rx=%222.392%22 ry=%221.911%22 fill=%22%23fff%22 opacity=%22.471%22%2F%3E%3Cellipse cx=%22192.688%22 cy=%221168.182%22 rx=%222.45%22 ry=%222.165%22 fill=%22%23fff%22 opacity=%22.535%22%2F%3E%3Cellipse cx=%22235.467%22 cy=%221175.481%22 rx=%223.081%22 ry=%222.789%22 fill=%22%23fff%22 opacity=%22.713%22%2F%3E%3Cellipse cx=%22426.934%22 cy=%221178.067%22 rx=%221.829%22 ry=%221.627%22 fill=%22%23fff%22 opacity=%22.304%22%2F%3E%3Cellipse cx=%221728.708%22 cy=%221182.9%22 rx=%222.345%22 ry=%222.143%22 fill=%22%23fff%22 opacity=%22.464%22%2F%3E%3Cellipse cx=%221381.042%22 cy=%221187.158%22 rx=%222.258%22 ry=%221.917%22 fill=%22%23fff%22 opacity=%22-.141%22%2F%3E%3Cellipse cx=%221241.228%22 cy=%221190.829%22 rx=%221.935%22 ry=%221.724%22 fill=%22%23fff%22 opacity=%22.31%22%2F%3E%3Cellipse cx=%221750.113%22 cy=%221195.67%22 rx=%222.477%22 ry=%222.03%22 fill=%22%23fff%22 opacity=%22.295%22%2F%3E%3Cellipse cx=%22684.253%22 cy=%221196.551%22 rx=%221.695%22 ry=%221.66%22 fill=%22%23fff%22 opacity=%22.373%22%2F%3E%3Cellipse cx=%22663.55%22 cy=%221203.945%22 rx=%222.797%22 ry=%222.745%22 fill=%22%23fff%22 opacity=%22.907%22%2F%3E%3Cellipse cx=%221222.259%22 cy=%221204.916%22 rx=%222.186%22 ry=%222.071%22 fill=%22%23fff%22 opacity=%22.175%22%2F%3E%3Cellipse cx=%2250.106%22 cy=%221210.323%22 rx=%221.752%22 ry=%221.654%22 fill=%22%23fff%22 opacity=%22.429%22%2F%3E%3Cellipse cx=%221589.693%22 cy=%221215.991%22 rx=%222.193%22 ry=%222.156%22 fill=%22%23fff%22 opacity=%22.117%22%2F%3E%3Cellipse cx=%2210.993%22 cy=%221219.944%22 rx=%222.428%22 ry=%221.937%22 fill=%22%23fff%22 opacity=%22-.024%22%2F%3E%3Cellipse cx=%22788.812%22 cy=%221222.098%22 rx=%222.423%22 ry=%222.01%22 fill=%22%23fff%22 opacity=%22.322%22%2F%3E%3Cellipse cx=%221025.089%22 cy=%221225.633%22 rx=%222.324%22 ry=%222.222%22 fill=%22%23fff%22 opacity=%22.054%22%2F%3E%3Cellipse cx=%221211.617%22 cy=%221229.382%22 rx=%222.23%22 ry=%222.118%22 fill=%22%23fff%22 opacity=%22.001%22%2F%3E%3Cellipse cx=%22319.208%22 cy=%221232.868%22 rx=%222.139%22 ry=%222.049%22 fill=%22%23fff%22 opacity=%22.918%22%2F%3E%3Cellipse cx=%22641.664%22 cy=%221236.59%22 rx=%221.751%22 ry=%221.592%22 fill=%22%23fff%22 opacity=%22.014%22%2F%3E%3Cellipse cx=%22648.713%22 cy=%221240.626%22 rx=%222.484%22 ry=%222.345%22 fill=%22%23fff%22 opacity=%22.757%22%2F%3E%3Cellipse cx=%221777.69%22 cy=%221245.475%22 rx=%222.298%22 ry=%222.265%22 fill=%22%23fff%22 opacity=%22.267%22%2F%3E%3Cellipse cx=%22906.429%22 cy=%221248.026%22 rx=%221.541%22 ry=%221.503%22 fill=%22%23fff%22 opacity=%22.655%22%2F%3E%3Cellipse cx=%22699.471%22 cy=%221255.525%22 rx=%222.202%22 ry=%221.972%22 fill=%22%23fff%22 opacity=%22.666%22%2F%3E%3Cellipse cx=%22890.104%22 cy=%221259.825%22 rx=%222.375%22 ry=%222.356%22 fill=%22%23fff%22 opacity=%22.662%22%2F%3E%3Cellipse cx=%221383.938%22 cy=%221262.08%22 rx=%222.075%22 ry=%221.912%22 fill=%22%23fff%22 opacity=%22.142%22%2F%3E%3Cellipse cx=%22228.611%22 cy=%221267.628%22 rx=%222.818%22 ry=%222.418%22 fill=%22%23fff%22 opacity=%22.364%22%2F%3E%3Cellipse cx=%221090.291%22 cy=%221269.983%22 rx=%222.319%22 ry=%222.053%22 fill=%22%23fff%22 opacity=%22.316%22%2F%3E%3Cellipse cx=%22934.822%22 cy=%221274.252%22 rx=%222.599%22 ry=%222.169%22 fill=%22%23fff%22 opacity=%22.224%22%2F%3E%3Cellipse cx=%221080.588%22 cy=%221279.316%22 rx=%222.14%22 ry=%221.681%22 fill=%22%23fff%22 opacity=%22.39%22%2F%3E%3Cellipse cx=%22481.635%22 cy=%221281.726%22 rx=%222.335%22 ry=%222.154%22 fill=%22%23fff%22 opacity=%22.34%22%2F%3E%3Cellipse cx=%22420.138%22 cy=%221286.795%22 rx=%223.05%22 ry=%222.758%22 fill=%22%23fff%22 opacity=%22.286%22%2F%3E%3Cellipse cx=%22796.268%22 cy=%221289.993%22 rx=%222.382%22 ry=%221.967%22 fill=%22%23fff%22 opacity=%22.717%22%2F%3E%3Cellipse cx=%22621.546%22 cy=%221295.806%22 rx=%222.047%22 ry=%221.597%22 fill=%22%23fff%22 opacity=%22.069%22%2F%3E%3Cellipse cx=%2236.825%22 cy=%221297.403%22 rx=%223.103%22 ry=%222.839%22 fill=%22%23fff%22 opacity=%22-.119%22%2F%3E%3Cellipse cx=%22916.509%22 cy=%221301.439%22 rx=%221.916%22 ry=%221.869%22 fill=%22%23fff%22 opacity=%22.859%22%2F%3E%3Cellipse cx=%22739.191%22 cy=%221304.877%22 rx=%222.092%22 ry=%221.943%22 fill=%22%23fff%22 opacity=%22.644%22%2F%3E%3Cellipse cx=%22888.296%22 cy=%221311.174%22 rx=%222.759%22 ry=%222.537%22 fill=%22%23fff%22 opacity=%22-.018%22%2F%3E%3Cellipse cx=%22700.758%22 cy=%221313.36%22 rx=%222.627%22 ry=%222.472%22 fill=%22%23fff%22 opacity=%22.184%22%2F%3E%3Cellipse cx=%221284.017%22 cy=%221318.608%22 rx=%222.524%22 ry=%222.155%22 fill=%22%23fff%22 opacity=%22.651%22%2F%3E%3Cellipse cx=%22904.157%22 cy=%221323.577%22 rx=%221.92%22 ry=%221.757%22 fill=%22%23fff%22 opacity=%22.742%22%2F%3E%3Cellipse cx=%22387.846%22 cy=%221327.385%22 rx=%222.897%22 ry=%222.565%22 fill=%22%23fff%22 opacity=%22.075%22%2F%3E%3Cellipse cx=%221963.218%22 cy=%221331.675%22 rx=%222.805%22 ry=%222.467%22 fill=%22%23fff%22 opacity=%22-.155%22%2F%3E%3Cellipse cx=%221738.234%22 cy=%221333.709%22 rx=%222.882%22 ry=%222.505%22 fill=%22%23fff%22 opacity=%22-.119%22%2F%3E%3Cellipse cx=%221237.112%22 cy=%221336.343%22 rx=%222.557%22 ry=%222.366%22 fill=%22%23fff%22 opacity=%22.772%22%2F%3E%3Cellipse cx=%22292.56%22 cy=%221342.438%22 rx=%222.509%22 ry=%222.019%22 fill=%22%23fff%22 opacity=%22-.119%22%2F%3E%3Cellipse cx=%22742.437%22 cy=%221345.034%22 rx=%222.878%22 ry=%222.389%22 fill=%22%23fff%22 opacity=%22.304%22%2F%3E%3Cellipse cx=%22997.962%22 cy=%221350.515%22 rx=%222.219%22 ry=%221.765%22 fill=%22%23fff%22 opacity=%22.536%22%2F%3E%3Cellipse cx=%221367.458%22 cy=%221352.931%22 rx=%221.932%22 ry=%221.817%22 fill=%22%23fff%22 opacity=%22.146%22%2F%3E%3Cellipse cx=%22649.617%22 cy=%221357.944%22 rx=%222.358%22 ry=%222.299%22 fill=%22%23fff%22 opacity=%22.559%22%2F%3E%3Cellipse cx=%221458.36%22 cy=%221362.646%22 rx=%222.59%22 ry=%222.416%22 fill=%22%23fff%22 opacity=%22.011%22%2F%3E%3Cellipse cx=%22181.599%22 cy=%221367.15%22 rx=%222.972%22 ry=%222.82%22 fill=%22%23fff%22 opacity=%22.118%22%2F%3E%3Cellipse cx=%221129.411%22 cy=%221371.521%22 rx=%221.835%22 ry=%221.66%22 fill=%22%23fff%22 opacity=%22.205%22%2F%3E%3Cellipse cx=%221915.916%22 cy=%221375.404%22 rx=%222.838%22 ry=%222.825%22 fill=%22%23fff%22 opacity=%22.653%22%2F%3E%3Cellipse cx=%221191.541%22 cy=%221376.201%22 rx=%222.406%22 ry=%222.361%22 fill=%22%23fff%22 opacity=%22.092%22%2F%3E%3Cellipse cx=%221114.58%22 cy=%221381.475%22 rx=%222.28%22 ry=%222.045%22 fill=%22%23fff%22 opacity=%22.6%22%2F%3E%3Cellipse cx=%221177.633%22 cy=%221385.784%22 rx=%222.654%22 ry=%222.595%22 fill=%22%23fff%22 opacity=%22.728%22%2F%3E%3Cg transform=%22rotate(-55.022 372.278 -471.366)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22226.165%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%239f9f9f%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%239f9f9f%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%239f9f9f%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect width=%22135.699%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3Crect width=%22144.968%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-60.165 587.892 -694.624)%22%2F%3E%3Crect width=%22128.561%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-58.376 673.891 -589.136)%22%2F%3E%3Crect width=%22153.217%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-60.618 1217.81 -1367.218)%22%2F%3E%3Crect width=%22148.553%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-57.87 481.505 83.929)%22%2F%3E%3Crect width=%22140.215%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-64.953 539.033 153.101)%22%2F%3E%3Crect width=%22155.054%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-58.094 1121.747 -530.827)%22%2F%3E%3Crect width=%22170.35%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-57.313 1260.793 -472.645)%22%2F%3E%3Crect width=%22152.57%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-59.255 911.449 297.877)%22%2F%3E%3Crect width=%22162.469%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-61.177 1737.842 -1052.06)%22%2F%3E%3Crect width=%22129.638%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-55.586 1974.296 -1192.698)%22%2F%3E%3Crect width=%22129.182%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-62.96 1366.472 4.88)%22%2F%3E%3Crect width=%22174.773%22 height=%226.3%22 rx=%226.3%22 ry=%226.3%22 fill=%22url(%23a)%22 transform=%22rotate(-59.783 1932.313 -720.275)%22%2F%3E%3C%2Fsvg%3E");
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
    }
    .hero h2 {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
    .hero p {
      font-size: 1.25rem;
      text-align: center;
    }

    @media (max-width: 768px) {
      .hero h2 {
        font-size: 2rem;
      }
    }

.s-container {
    margin: 30px;
    padding: 60px 20px;
    background-color: #f5f5f5;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.s-container-header {
  	text-align: center;
  	margin-bottom: 40px;
}

.services-text {
  	background-color: #007bff;
  	color: #fff;
  	display: inline-block;
  	padding: 8px 20px;
  	border-radius: 50px;
  	font-size: 14px;
  	margin-bottom: 10px;
  	font-family: arial;
  	letter-spacing: .2em;
}

.s-title {
  	font-size: 32px;
  	font-weight: 700;
  	margin-bottom: 0;
  	font-family: exo;
}

.cards-container {
  	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 30px;
}

.card {
  	background-color: #fff;
  	padding: 20px;
  	text-align: center;
  	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  	border-radius: 8px;
  	border-bottom: 5px solid #007bff;
}

.card-dos {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-bottom: 5px solid #000CFF;
}

.icon {
  
  	color: #007bff;
  	margin-bottom: 5px;
}


.icon svg {
	width: 40px;
	height: 40px;
}

.icon-dos svg {
  width: 40px;
  height: 40px;
   color: #FFFFFF;
}

.card-title {
  	font-size: 25px;
  	font-weight: 600;
  	margin-bottom: 10px;
  	font-family: exo;
}

.card-title-dos {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: exo;
    color: white;
}

.card-description-dos {
    font-size: 18px;
    color: white;
    line-height: 1.5;
    font-family: dosis;
}


.card-description {
  	font-size: 18px;
  	color: #666;
  	line-height: 1.5;
  	font-family: dosis;
}

@media (max-width: 768px) {
  	.cards-container {
    	grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  	.cards-container {
    	grid-template-columns: 1fr;
  }
}

.about-company {
  	background-color: #007bff;
  	padding: 60px 0;
  	color: #fff;
  	margin-top: 70px;
  	margin-bottom: 70px;
}

.about-company-header {
  	text-align: center;
  	margin-bottom: 40px;
  	padding: 0 20px;
}

.title {
  	font-size: 32px;
  	font-weight: 700;
  	margin-bottom: 10px;
  	font-family: exo;
}

.divider {
  	width: 70px;
  	height: 4px;
  	background-color: #000C81;
  	border: none;
  	margin: 0 auto;
}

.about-company-content {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 1200px;
  	margin: 0 auto;
  	padding: 0 20px;
}

.image-container {
  	flex: 0 0 50%;
  	max-width: 50%;

}

.image-container img {
  	width: 100%;
  	height: auto;
  	object-fit: cover;
    border-radius: 0 20px 20px 0;
}

.company-info {
  	flex: 0 0 50%;
  	max-width: 50%;
  	padding-left: 40px;
  	padding-right: 40px;
  	margin-left: 20px;
}

.company-name {
  	font-size: 24px;
  	font-weight: 600;
  	margin-bottom: 10px;
  	font-family: exo;
}

.company-description {
  	font-size: 20px;
  	line-height: 1.5;
  	margin-bottom: 20px;
  	font-family: dosis;
}

.company-details {
  	list-style-type: disc;
  	padding-left: 20px;
  	font-size: 18px;
  	line-height: 1.5;
  	font-family: dosis;
}

.company-details li{
	list-style: none;
	margin: 5px;
}

.company-details svg {
	height: 20px;
	width: 20px;

}

@media (max-width: 768px) {
  	.about-company-content {
    	flex-direction: column;
  }

.image-container, .company-info {
    flex: 0 0 auto;
    max-width: 100%;
  }

  .image-container {
    margin-bottom: 30px;
  }

  .company-info {
    padding-left: 0;
  }
}

 




        footer {
            background-color: #0D1321;
            color: #ffffff;
            padding: 50px 0;
            display: block;
            margin-top: -4px;
        }
        .footer-content {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .footer-section {
            flex: 1;
            margin: 20px;
            min-width: 200px;
        }
        .footer-section h3 {
            font-size: 1.5em;
            margin-bottom: 20px;
            border-bottom: 2px solid #ffffff;
            padding-bottom: 10px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            color: #ffffff;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        a:hover {
            color: #ffd700;
        }
        .social-icons {
            font-size: 1.5em;
        }
        .social-icons a {
            margin-right: 15px;
        }
        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
        }
        .subscribe {
            background-color: #ffd700;
            color: #001f3f;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .subscribe:hover {
            background-color: #ffed4a;
        }
        .copyright {
            text-align: center;
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }



::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background-color: #999999;

}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}








        